button.btn{
  width: auto;
  text-transform: uppercase;
  border-width: .2rem;
  @include border-radius(5rem);
}
button.btn{
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
  font-size: 1.8rem;
  letter-spacing: .4rem;
  &.dropdown-toggle{
    box-shadow: none;
  }
  &.btn-lg{
    padding: 1rem 3rem;
    min-width: 30rem;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  &.btn-primary{
    color: $white;
    @include box-shadow(0, .5rem, 1rem, rgba(225, 80, 99, 0.48));
  }
  &.btn-link{
    font-size: 1.5rem;
    padding: 0;
  }
  &.btn-link-default{
    color: $secondary;
    letter-spacing: normal;
    text-transform: none;
    text-decoration: none;
  }
}
