button.btn{
  font-family: $font-family-base;
  font-size: 1.8rem;
  padding: .5rem 3rem;
  text-transform: capitalize;
  @include border-radius(5rem);
  @include box-shadow(0, .5rem, .5rem, rgba(18,18,18,0.5));
  // &.btn-lg{
  //   padding: 1rem 3rem;
  //   min-width: 30rem;
  // }
  &.btn-primary, &.btn-accent{
    color: $white;
  }
  &.btn-rounded{
    width: 4rem;
    height: 4rem;
    text-align: center;
    line-height: 1rem;
    padding: 0;
    @include border-radius(50%);
  }
  &:disabled{
    background-color: $gray-400;
    border:0;
  }
}
