.form-group{
  width: 100%;
  color: $gray-400;
  font-family: $font-family-base;
  .mat-form-field-wrapper{
    padding-bottom: 0;
  }
  .mat-form-field-label{
    color: $gray-400;
    text-transform: capitalize;
  }
  input{
    font-weight: $font-weight-bold;
  }
  &.mat-form-field-appearance-outline{
    .mat-form-field-outline{
      color: $gray-400;
    }
    .mat-form-field-ripple{
      background-color: $primary;
    }
    &.mat-focused{
      .mat-form-field-label{
        color: $primary;
      }
      .mat-form-field-underline{
        background-color: $primary;
      }
    }
    &.validationError{
      .mat-form-field-outline-start, .mat-form-field-outline-gap, .mat-form-field-outline-end{
        border-color: $danger;
      }
    }
    &.mat-form-field-disabled{
      .mat-form-field-outline-start, .mat-form-field-outline-gap, .mat-form-field-outline-end{
        border-color: $gray-300;
      }
    }
  }
}
mat-error{
  &.mat-error{
    text-align: left;
  }
}

/** mat-radio-group **/
.mat-radio-label{
  text-align: left;
  color: $gray-400;
}
.mat-radio-button{
  margin: .5rem 1rem;
  text-transform: capitalize;
  &.mat-accent {
    .mat-radio-outer-circle{
      border-color: $primary;
    }
    .mat-radio-inner-circle{
      background-color: $primary;
    }
    &.mat-radio-checked{
      .mat-radio-outer-circle{
        border-color: $primary;
      }
      .mat-radio-persistent-ripple{
        background-color: $primary;
      }
    }
  }
}
.mat-ripple-element{
  background-color: $secondary !important;
}
